<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Select to dropdown</title>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.css">
		<!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"> -->
		<style>
			.ng-submitted .ng-invalid .dropdown-toggle {
				border: 1px solid red;
			}
			.dropdown {
				position: relative;
			}
			.dropdown .btn,
			.dropdown .dropdown-menu {
				width: 100%;
			}
			.dropdown .btn {
				text-align: left;
			}
			.dropdown .caret { 
				float: right;
				margin-top: 8px;
			}
			.dropdown-menu > li > a {
				padding-top: 9px;
				padding-bottom: 9px;
				min-height: 38px;
			}
		</style>
	</head>
	<body data-ng-app="app">
		
		<div class="container">
			<div class="page-header">
				<h1>NG Bootstrap Dropdown</h1>
				<p class="lead">Bootstrap dropdown for angular</p>
			</div>
		</div>

		<div class="container" data-ng-controller="mainController">
			<p>
				<strong>Selected: </strong>{{ selected }}	
			</p>
			<form name="form" ng-submit="onFormSubmit(form)" novalidate>
				<div class="row">
					<div class="col-xs-6">
						{{ year }}
						<div class="form-group">
							<ng-bootstrap-dropdown name="dropdown"
								ng-bootstrap-dropdown-options="years" 
								ng-bootstrap-dropdown-placeholder="{{ isYearFieldDisabled ? 'Loading..' : 'Select Year' }}"
								ng-bootstrap-dropdown-on-select="onSelectYear(value)" 
								ng-bootstrap-dropdown-use-label-as-value="true" 
								ng-model="year" 
								ng-disabled="isYearFieldDisabled" 
								required></ng-bootstrap-dropdown>
						</div>
						<div class="form-group">
							{{ make }}
							<ng-bootstrap-dropdown name="dropdown"
								ng-bootstrap-dropdown-options="makes" 
								ng-bootstrap-dropdown-placeholder="{{ isMakeFieldDisabled ? 'Loading..' : 'Select Make' }}"
								ng-bootstrap-dropdown-on-select="onSelectMake(value)" 
								ng-model="make" 
								ng-disabled="isMakeFieldDisabled" 
								required></ng-bootstrap-dropdown>
						</div>
						<div class="form-group">
							{{ model }}
							<ng-bootstrap-dropdown name="dropdown"
								ng-bootstrap-dropdown-options="models" 
								ng-bootstrap-dropdown-placeholder="{{ isModelFieldDisabled ? 'Loading..' : 'Select Model' }}"
								ng-bootstrap-dropdown-on-select="onSelectModel(value)" 
								ng-model="model" 
								ng-disabled="isModelFieldDisabled" 
								required></ng-bootstrap-dropdown>
						</div>
						<div class="form-group">
							{{ trim }}
							<ng-bootstrap-dropdown name="dropdown"
								ng-bootstrap-dropdown-options="trims" 
								ng-bootstrap-dropdown-placeholder="{{ isTrimFieldDisabled ? 'Loading..' : 'Select Trim' }}"
								ng-model="trim" 
								ng-disabled="isTrimFieldDisabled" 
								required></ng-bootstrap-dropdown>
						</div>
					</div>
					<div class="col-xs-6"></div>
				</div>
				 
				<input type="submit" value="Submit" class="btn btn-success">
			</form>
		</div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="dist/ng-bootstrap-dropdown.min.js"></script>
		<script src="scripts.js"></script>
	</body>
</html>